.toolbar-icon-workbench-content-tab::before,
.toolbar-link--admin-toolbar-tools-help::before,
.toolbar-button--icon--admin-toolbar-tools-help::before,
.toolbar-button--icon--navigation-extra-tools-help::before {
  --icon: #{icon('tool')};
}

.toolbar-link--bookmarks::before,
.toolbar-button--icon--bookmarks::before {
  --icon: #{icon('bookmarks')};
}

.toolbar-icon-commerce-admin-commerce::before,
.toolbar-link--commerce-admin-commerce::before,
.toolbar-button--icon--commerce-admin-commerce::before,
.toolbar-icon-commerce-inbox::before,
.toolbar-link---commerce-inbox::before,
.toolbar-button--icon--commerce-inbox::before {
  --icon: #{icon('commerce')};
}

.toolbar-icon-entity-webform-collection::before,
.toolbar-link--entity-webform-collection::before,
.toolbar-button--icon--entity-webform-collection::before {
  --icon: #{icon('webform')};
}

.toolbar-link--sidebar-toggle[aria-expanded=false]::before,
.toolbar-link--sidebar-toggle[aria-expanded=true]::before,
.toolbar-link--sidebar-toggle[aria-expanded=false]::before,
.toolbar-link--sidebar-toggle[aria-expanded=true]::before {
  --icon: #{icon('chevron-down')};
}

.toolbar-icon-system-admin-group::before,
.toolbar-link--system-admin-group::before,
.toolbar-button--icon--system-admin-group::before {
  --icon: #{icon('group')};
}

.toolbar-icon-tmgmt-admin-tmgmt::before,
.toolbar-link--tmgmt-admin-tmgmt::before,
.toolbar-icon-language::before,
.toolbar-link--language::before,
.toolbar-button--icon--tmgmt-admin-tmgmt::before,
.toolbar-button--icon--language::before {
  --icon: #{icon('tmgmt')};
}

.toolbar-icon-bat-admin::before,
.toolbar-link--bat-admin::before,
.toolbar-button--icon--bat-admin::before {
  --icon: #{icon('bat')};
}

.toolbar-icon-menu::before,
.toolbar-button--icon--burger::before {
  --icon: #{icon('hamburger')};
}

.toolbar-icon-coffee::before,
#toolbar-item-administration-search::before,
#admin-toolbar-mobile-search-tab .toolbar-icon::before {
  --icon: #{icon('search')};
}

.toolbar-icon-devel::before,
.toolbar-button--icon--devel::before {
  --icon: #{icon('devel')};
}

.toolbar-icon-rebuild-cache-access::before {
  --icon: #{icon('rebuild-cache')};
}

.responsive-preview-icon::before {
  --icon: #{icon('responsive-preview')};
}

.toolbar-icon-environment::before,
.toolbar-button--icon--environment::before {
  --icon: #{icon('server')};
}

.toolbar-icon-toggle-vertical::before,
.toolbar-button--icon--back::before {
  --icon: #{icon('nav-toggle-toleft')};
}

.toolbar-icon-toggle-horizontal::before {
  --icon: #{icon('nav-toggle-totop')};
}

.toolbar-button--icon--cross::before {
  --icon: #{icon('close')};
}

.toolbar-button--icon--navigation-trash {
  --icon: #{icon('trash-module')};
}
